<div class="container">
	<div class="row text-center">

		<span class="h1" id="amount-label">
            <span class="pricing__dollar"></span>
        </span>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <!-- As seen here https://bootsnipp.com/snippets/featured/bootstrap-pricing-slider-donations -->
                <input id="range-slider" type="range" min="0" max="100" step="10" value="0">
            </div>
        </div>
	</div>
</div>
<!-- http://rangeslider.js.org/ -->
<script src="https://cdn.jsdelivr.net/rangeslider.js/2.3.0/rangeslider.min.js"></script>
